{{> header}}
<div style="background-color: #fff">
      <div>Hi <strong>{{name}}</strong>,</div>
      <div style="margin-top:10px">Welcome to <b>Pro Visit</b>. Your account has been created successfully. </div>
</div>
{{> footer}}